body{
    width: 100%;
    height: 100vh;

}

/*__________Header__________*/

.header-box{
    overflow: hidden;
    height: 5em;
    width: 100%;
    min-width: 50em;
    min-height: 7em;
    position: fixed;
    border-bottom: 0.2em solid black;
    z-index: 3;
}

.header-img{
    width: 100%;
    z-index: 2;
    position: relative;
}

.header-box h1{
    position: absolute;
    z-index: 3;
    top: 1%;
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    font-family: inherit;
    color: mintcream;
}

/*__________Page body__________*/

.page-content{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

/*__________Navigation bar__________*/

.nav-bar{
    width: 11em;
    height: 100vh;
    background-color: #B1E0FF;
    position: fixed;
    top: 0em;
    z-index: 1;
}

.nav-bar li{
    width: 6.5em;
    border: 0.2em solid #FFFFFF;
    border-left: #81A5BC;
    border-radius: 0 1em 1em 0;
    padding: 1.2em 0em;
    font-size: 1.5em;
    margin: 2em 0.5em 2em 0;
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: #12129B;
    font-family: initial;
}

.nav-bar ul{
    margin: 10em 0 0 0;
}

/*__________content Style__________*/

.content{
    width: 100%;
    min-width: 100vh;
    height: 100vh;
    word-wrap: break-word;
    background-color: whitesmoke;
    margin-left: 11em;
    margin-top: 7.2em;
}

.content-window{
    border: 2em solid black;
}

.content-intro{
    display: flex;
}

.content-intro img{
    margin: 1em 0 0 1em;
}

.content-intro-text{
    display: flex;
    flex-direction: column;
    width: 22em;
    margin: auto 2em;
}

.content h2{
    font-size: 2em;
    font-weight: bold;
    margin: 0 0.2em;
    font-family: cursive;
    color: darkslateblue;
}

.content h3{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
    font-family: cursive;
    color: darkslategrey;
}

.content p{
    margin: 1em 0em 1em 0.5em;
    font-family: sans-serif;
}

.content ul {
    list-style-type: disc;
    margin: 0 2em;
}

.content ol {
    list-style-type: decimal; 
    margin: 0 2em;
}

/*__________Websysteem pagina__________*/

.content table{
    margin: 1em;
    text-align: center;
    width: 40em;
    height: 6em;
}

.content th{
    border: 0.1em solid black;
    padding: 0.1em;
    background-color: darkblue;
    font-weight: bold;
    color: wheat;
}

.content td{
    border: 0.1em solid black;
    padding: 0.1em;
    background-color: ghostwhite;
    color: darkblue;
    font-family: monospace;
}

/*__________Techniek pagina__________*/

.techniek-menu{
    width: 22em;
    margin: 3.5em auto;
    height: 25em;
    padding: 3em;
    border-radius: 1.5em;
    background-color: #B1E0FF;
}

.techniek-menu li{
    margin: 1em auto;
    width: 10em;
    height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 1.5em;
    padding: 1.5em;
    background-color: white;
    color: #12129B;
}

.techniek-menu h2{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

#techniek-menu-list {
    list-style-type: none;
}

/*__________game pagina__________*/

.content h1{
	font-family: 'Griffy', cursive;
    font-size: 3em;
    color: darkslateblue;
    text-align: center;
    margin: 0.3em
}

.wrapper{
	margin: 0 auto;
    width: 370px;
    border: 0.4em solid lightsteelblue;
    padding: 3em;
    border-radius: 6em;
    margin-top: 2em;
    background-color: aliceblue;
}

.raadje-plaatje{
	background-color: lightsteelblue;
    border-radius: 6em 1em 1em 6em;
    display: flex;
    justify-content: flex-start;
}

.img-grid{
	margin-top:20px;
	background-color: royalblue;
	padding:15px;
	border-radius: 4em;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.img--small{
	border: 3px solid #fff;
    margin: 3px;
    border-radius: 3em;
    height: 5em;
    width: 6em;
}

.picture{
	border: 0.6em solid cornflowerblue;
    border-radius: 6em;
    background-color: #0096ff;
    width: 150px;
    height: 150px;
}

.message{
	width: 130px;
    padding: 20px;
    font-size: 1.4em;
    text-align: right;
}

/*__________sitemap__________*/

#sitemap{
    border: 0.3em solid black;
    margin: 1em 7em;
}

#generated-sitemap{
    padding: 1em;
    background-color: lightskyblue;
    position: relative;
    right: 40em;
    top: 3em;
    border: 0.2em solid royalblue;
    border-radius: 1em;
}